.lyricContainer {
  min-height: 500px;
  background: #000;
}

.emptyLyric {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  color: #666;
}
